body {
    background-color: lightgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flexbox; 
    justify-content: center;
    margin: 10;
}

p {
    color: dimgrey;
}

ul {
    color: dimgrey;
}

h1,
h2 {
    font-style: italic;
}

.imagem {
    width: 500px;
    height: 500px;
}

.lista {
    column-count: 4;
    column-gap: 20px;
}

